<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head-no-css") %>

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/tablet-index.css" />
        <link rel="stylesheet" href="/css/tablet.css" />
        <link rel="stylesheet" href="/css/desktop-index.css" />
        <link rel="stylesheet" href="/css/registerProf.css" />
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

        <title>Soluciones Profesionales</title>
</head>

<body>

    <%- include("../partials/header") %>
        <%- include("../partials/nav-bar") %>


            <main>
                <div class="all-registerProf">
                    <form action="/rubros/<%=profFound.client_id %>?_method=PUT" enctype="multipart/form-data"
                        method="POST" class="prof-form">
                        <!-- la ruta de "action", debe ser la ruta a la que tiene q ir la info del formulario -->
                        <div class="registerInput">
                            <label for="first-name">Nombre:
                                <input type="text" name="firstName" id="first-nombre"
                                    value="<%=profFound.clients.firstName %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="last-name">Apellido:
                                <input type="text" name="lastName" id="last-name"
                                    value="<%=profFound.clients.lastName %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="email">Email:
                                <input type="email" name="email" id="email" value="<%=profFound.clients.email %>">
                            </label>
                        </div>
                        <div class="registerInput localidad-list">
                            <label>Localidad donde Reside
                                <select name="city_Id">
                                    <!-- usar una API -->
                                    <option value="1" <%=(profFound.clients.city_Id=="1" ) ? "selected" : "" %>>Capital
                                        Federal
                                    </option>
                                    <option value="2" <%=(profFound.clients.city_Id=="2" ) ? "selected" : "" %>
                                        >Conurbano</option>
                                    <option value="3" <%=(profFound.clients.city_Id=="3" ) ? "selected" : "" %>>Interior
                                    </option>
                                </select>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="address">Dirección:
                                <input type="text" name="address" id="address" value="<%=profFound.clients.address %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="tel">Telefono:
                                <input type="text" name="mobile" id="tel" value="<%=profFound.clients.mobile %>">
                            </label>
                        </div>

                        <div class="registerInput">
                            <label for="cuit">DNI (Sin Puntos ni Espacios):
                                <input type="cuit" name="cuit" id="cuit" value="<%=profFound.clients.dni %>" disabled>
                            </label>
                        </div>
                        <div class="registerInput profesiones-list">
                            <label>Profesiones:
                                <!-- class="selectpicker" multiple -->
                                <select name="professionId">

                                    <% for (let i=0 ; i < uniqueProfession.length ; i++){%>

                                        <option value="<%=uniqueProfessionId[i]%> "
                                            <%=(profFound.professions[0].profession==uniqueProfession[i]) ? "selected"
                                            : "" %>>
                                            <%=uniqueProfession[i]%>
                                        </option>

                                        <% } %>
                                            <option value="Otro">Otro</option>
                                </select>
                            </label>
                        </div>
                        <!-- <div class="registerInput">
                            <label for="otherJob">Profesión (En Caso de No Estar Listada):
                                <input type="text" name="otherJob" id="otherJob"
                                    placeholder="Ej: Programador WEB Full Stack" value=>
                            </label>
                        </div> -->

                        <div class="registerInput expirience-list">
                            <label>Posee Matricula:
                                <!-- mandar en register prof y create el boleano de matricula -->
                                <select name="matricula">
                                    <option value="yes" <%=(profFound.licence) ? "selected" : "" %>>Si</option>
                                    <option value="no" <%=(!profFound.licence) ? "selected" : "" %>>No</option>
                                </select>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="matricula">Matricula (en Caso de Aplicar):
                                <input type="text" name="licence" id="matricula" value="<%=profFound.licence %>">
                            </label>
                        </div>
                        <div class="registerInput localidad-list">
                            <label>Zona de Prestacion de Servicio:

                                <!-- class="selectpicker" multiple -->
                                <select name="WorkZoneId">

                                    <% for (let i=0 ; i < uniqueWorkZones.length ; i++){%>

                                        <option value="<%=uniqueWorkZonesId[i]%> "
                                            <%=(profFound.workZones.location==uniqueWorkZones[i]) ? "selected" : "" %>>
                                            <%=uniqueWorkZones[i]%>
                                        </option>

                                        <% } %>
                                            <option value="Otro">Otro</option>
                                </select>
                            </label>
                        </div>
                        <div class="registerInput expirience-list">
                            <label>Atiende Emergencias:
                                <select name="emergency">
                                    <option value="Si" <%=(profFound.emergency=="1" ) ? "selected" : "" %>>Si
                                    </option>
                                    <option value="No" <%=(profFound.emergency=="0" ) ? "selected" : "" %>>No
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="dispo-dias">
                            <p>Dias de Prestacion de Servicio:</p>
                            <p>Lunes<label>(9-12am)</label><input type="checkbox" name="dayShift" value="1,1">
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="1,2">
                                </option>
                            </p>
                            <p>Martes<label>(9-12am)</label><input type="checkbox" name="dayShift" value="2,1"
                                    <%=//profFound.dayShift.includes("Martes-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="2,2"
                                    <%=//profFound.dayShift.includes("Martes-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Miercoles<label>(9-12am)</label><input type="checkbox" name="dayShift" value="3,1"
                                    <%=//profFound.dayShift.includes("Miercoles-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="3,2"
                                    <%=//profFound.dayShift.includes("Miercoles-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Jueves<label>(9-12am)</label><input type="checkbox" name="dayShift" value="4,1"
                                    <%=//profFound.dayShift.includes("Jueves-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="4,2"
                                    <%=//profFound.dayShift.includes("Jueves-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Viernes<label>(9-12am)</label><input type="checkbox" name="dayShift" value="5,1"
                                    <%=//profFound.dayShift.includes("Viernes-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="5,2"
                                    <%=//profFound.dayShift.includes("Viernes-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Sabado<label>(9-12am)</label><input type="checkbox" name="dayShift" value="6,1"
                                    <%=//profFound.dayShift.includes("Sabado-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="6,2"
                                    <%=//profFound.dayShift.includes("Sabado-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Domingo<label>(9-12am)</label><input type="checkbox" name="dayShift" value="7,1"
                                    <%=//profFound.dayShift.includes("Domingo-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="dayShift" value="7,2"
                                    <%=//profFound.dayShift.includes("Domingo-TT") ? "checked" : "" %>>
                                </option>
                            </p>

                        </div>

                        <div class="registerInput whyme">
                            <label for="whyme">Porque Deberian Elegirte?
                                <textarea name="whyMe" id="whyme"><%=profFound.whyMe %></textarea>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="price">Precio de tu Reserva en $:
                                <input type="number" name="price" id="price" value="<%=profFound.price %>">
                            </label>
                        </div>
                        <!-- <div class="registerInput avatar">
                            <label for="avatar">Foto de Perfil
                                <input type="file" name="avatar" accept=".jpg, .png, .bmp">
                            </label>
                        </div> -->
                        <div class="registerInput jobs">
                            <label for="jobs">Fotos de Trabajos Realizados (max 10)
                                <input type="file" name="workImages" accept=".jpg, .png, .bmp" >
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="cbu">N° de CBU/CVU (para deposito de reservas):
                                <input type="number" name="cbu" id="cbu" value="<%=profFound.cbu %>">
                            </label>
                        </div>

                        <div class="confirm-button">
                            <button type="submit">Confirmar</button>
                        </div>
                </div>
                </form>
                </section>

                <%- include("../partials/ad-bottom-body") %>

            </main>

            <%- include("../partials/footer") %>

</body>

</html>