<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head-no-css") %>

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/tablet-index.css" />
        <link rel="stylesheet" href="/css/tablet.css" />
        <link rel="stylesheet" href="/css/desktop-index.css" />
        <link rel="stylesheet" href="/css/registerProf.css" />
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

        <title>Soluciones Profesionales</title>
</head>

<body>

    <%- include("../partials/header") %>
        <%- include("../partials/nav-bar") %>

            <main>
                <div class="all-registerProf">
                    <form action="/rubros/<%=aEditar[0].jobTitle %>/<%=aEditar[0].cuit %>?_method=PUT" method="POST"
                        class="prof-form">
                        <!-- la ruta de "action", debe ser la ruta a la que tiene q ir la info del formulario -->
                        <div class="registerInput">
                            <label for="first-name">Nombre:
                                <input type="text" name="firstName" id="first-nombre"
                                    value="<%=aEditar[0].firstName %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="last-name">Apellido:
                                <input type="text" name="lastName" id="last-name" value="<%=aEditar[0].lastName %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="email">Email:
                                <input type="email" name="email" id="email" value="<%=aEditar[0].email %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="adress">Dirección:
                                <input type="text" name="adress" id="adress" value="<%=aEditar[0].adress %>">
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="tel">Telefono:
                                <input type="text" name="mobile" id="tel" value="<%=aEditar[0].mobile %>">
                            </label>
                        </div>

                        <div class="registerInput">
                            <label for="cuit">CUIT (Sin Puntos ni Guiones):
                                <input type="cuit" name="cuit" id="cuit" value="<%=aEditar[0].cuit %>">
                            </label>
                        </div>
                        <div class="registerInput profesiones-list">
                            <label>Profesiones:
                                <!-- class="selectpicker" multiple -->
                                <select name="jobTitle">
                                    <option value="Carpintero" <%=(aEditar[0].jobTitle=="Carpintero" ) ? "selected" : ""
                                        %>>Carpintero/a</option>
                                    <option value="Plomero" <%=(aEditar[0].jobTitle=="Plomero" ) ? "selected" : "" %>
                                        >Plomero/a</option>
                                    <option value="Pintor" <%=(aEditar[0].jobTitle=="Pintor" ) ? "selected" : "" %>
                                        >Pintor/a</option>
                                    <option value="Electricista" <%=(aEditar[0].jobTitle=="Electricista" ) ? "selected"
                                        : "" %>>Electricista</option>
                                    <option value="Odontologo" <%=(aEditar[0].jobTitle=="Odontologo" ) ? "selected" : ""
                                        %>>Odontologo/a</option>
                                    <option value="Mecanico" <%=(aEditar[0].jobTitle=="Mecanico" ) ? "selected" : "" %>
                                        >Mecanico/a</option>
                                    <option value="Fletero" <%=(aEditar[0].jobTitle=="Fletero" ) ? "selected" : "" %>
                                        >Mudanza</option>
                                    <option value="Jardinero" <%=aEditar[0].jobTitle=="Jardinero" ? "selected" : "" %>
                                        >Jardinero</option>
                                    <option value="Instalador AC" <%=(aEditar[0].jobTitle=="Instalador AC" )
                                        ? "selected" : "" %>>Instalador AC</option>
                                    <option value="Catering" <%=(aEditar[0].jobTitle=="Catering" ) ? "selected" : "" %>
                                        >Catering</option>
                                    <option value="Abogado" <%=(aEditar[0].jobTitle=="Abogado" ) ? "selected" : "" %>
                                        >Abogado/a</option>
                                    <option value="Full Stack Web Dev" <%=(aEditar[0].jobTitle=="Full Stack Web Dev" )
                                        ? "selected" : "" %>>Full Stack Web Dev</option>
                                    <option value="Gasista" <%=(aEditar[0].jobTitle=="Gasista" ) ? "selected" : "" %>
                                        >Gasista</option>
                                    <option value="Destapador" <%=(aEditar[0].jobTitle=="Destapador" ) ? "selected" : ""
                                        %>>Destapador/a</option>
                                    <option value="Empapelador" <%=(aEditar[0].jobTitle=="Empapelador" ) ? "selected"
                                        : "" %>>Empapelador/a</option>
                                    <option value="Fumigador" <%=(aEditar[0].jobTitle=="Fumigador" ) ? "selected" : ""
                                        %>>Fumigador/a</option>
                                    <option value="Prof Particular" <%=(aEditar[0].jobTitle=="Prof Particular" )
                                        ? "selected" : "" %>>Prof. Particular</option>
                                    <option value="Paseador" <%=(aEditar[0].jobTitle=="Paseador" ) ? "selected" : "" %>
                                        >Paseador/a</option>
                                    <option value="Piletero" <%=(aEditar[0].jobTitle=="Piletero" ) ? "selected" : "" %>
                                        >Piletero/a</option>
                                    <option value="Contador" <%=(aEditar[0].jobTitle=="Contador" ) ? "selected" : "" %>
                                        >Contador/a</option>
                                    <option value="Cuidado de Menores" <%=(aEditar[0].jobTitle=="Cuidado de Menores" )
                                        ? "selected" : "" %>>Cuidado de Menores</option>
                                    <option value="Otro" <%=(aEditar[0].otherJob) ? "selected" : "" %>>Otro</option>
                                </select>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="otherJob">Profesión (En Caso de No Estar Listada):
                                <input type="text" name="otherJob" id="otherJob"
                                    placeholder="Ej: Programador WEB Full Stack" value=<%=aEditar[0].otherJob %>>
                            </label>
                        </div>

                        <div class="registerInput expirience-list">
                            <label>Posee Matricula:
                                <select name="matricula">
                                    <option value="yes" <%=(aEditar[0].license) ? "selected" : "" %>>Si</option>
                                    <option value="no" <%=(!aEditar[0].license) ? "selected" : "" %>>No</option>
                                </select>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="matricula">Matricula (en Caso de Aplicar):
                                <input type="text" name="license" id="matricula" value="<%=aEditar[0].license %>">
                            </label>
                        </div>
                        <div class="registerInput localidad-list">
                            <label>Zona de Prestacion de Servicio:
                                <select name="jobZone">
                                    <option value="Capital Federal" <%=(aEditar[0].jobZone=="CABA" ) ? "selected" : ""
                                        %>>Capital Federal</option>
                                    <option value="GBA Norte" <%=(aEditar[0].jobZone=="GBA Norte" ) ? "selected" : "" %>
                                        >GBA Norte</option>
                                    <option value="GBA Oeste" <%=(aEditar[0].jobZone=="GBA Oeste" ) ? "selected" : "" %>
                                        >GBA Oeste</option>
                                    <option value="GBA Sur" <%=(aEditar[0].jobZone=="GBA Sur" ) ? "selected" : "" %>
                                        >GBA Sur</option>
                                    <option value="Mendoza" <%=(aEditar[0].jobZone=="Mendoza" ) ? "selected" : "" %>
                                        >Mendoza</option>
                                    <option value="Cordoba" <%=(aEditar[0].jobZone=="Cordoba" ) ? "selected" : "" %>
                                        >Cordoba</option>
                                    <option value="Rosario" <%=(aEditar[0].jobZone=="Rosario" ) ? "selected" : "" %>
                                        >Rosario</option>
                                    <option value="Lejano Oeste" <%=(aEditar[0].jobZone=="Lejano Oeste" ) ? "selected"
                                        : "" %>>Lejano Oeste</option>
                                </select>
                            </label>
                        </div>
                        <div class="registerInput expirience-list">
                            <label>Atiende Emergencias:
                                <select name="emergency">
                                    <option value="true" <%=(aEditar[0].emergency) ? "selected" : "" %>>Si</option>
                                    <option value="false" <%=(!aEditar[0].emergency) ? "selected" : "" %>>No
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="dispo-dias">
                            <p>Dias de Prestacion de Servicio:</p>
                            <p>Lunes<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Lunes-TM"
                                    <%=aEditar[0].jobDay.includes("Lunes-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Lunes-TT"
                                    <%=aEditar[0].jobDay.includes("Lunes-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Martes<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Martes-TM"
                                    <%=aEditar[0].jobDay.includes("Martes-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Martes-TT"
                                    <%=aEditar[0].jobDay.includes("Martes-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Miercoles<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Miercoles-TM"
                                    <%=aEditar[0].jobDay.includes("Miercoles-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Miercoles-TT"
                                    <%=aEditar[0].jobDay.includes("Miercoles-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Jueves<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Jueves-TM"
                                    <%=aEditar[0].jobDay.includes("Jueves-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Jueves-TT"
                                    <%=aEditar[0].jobDay.includes("Jueves-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Viernes<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Viernes-TM"
                                    <%=aEditar[0].jobDay.includes("Viernes-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Viernes-TT"
                                    <%=aEditar[0].jobDay.includes("Viernes-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Sabado<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Sabado-TM"
                                    <%=aEditar[0].jobDay.includes("Sabado-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Sabado-TT"
                                    <%=aEditar[0].jobDay.includes("Sabado-TT") ? "checked" : "" %>>
                                </option>
                            </p>
                            <p>Domingo<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Domingo-TM"
                                    <%=aEditar[0].jobDay.includes("Domingo-TM") ? "checked" : "" %>>
                                </option>
                                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Domingo-TT"
                                    <%=aEditar[0].jobDay.includes("Domingo-TT") ? "checked" : "" %>>
                                </option>
                            </p>

                        </div>

                        <div class="registerInput whyme">
                            <label for="whyme">Porque Deberian Elegirte?
                                <textarea name="whyMe" id="whyme"><%=aEditar[0].whyMe %></textarea>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="price">Precio de tu Reserva en $:
                                <input type="number" name="price" id="price" value="<%=aEditar[0].price %>">
                            </label>
                        </div>
                        <div class="registerInput avatar">
                            <label for="avatar">Foto de Perfil
                                <input type="file" name="avatar" accept=".jpg, .png, .bmp">
                            </label>
                        </div>
                        <div class="registerInput jobs">
                            <label for="jobs">Fotos de Trabajos Realizados (max 10)
                                <input type="file" name="jobs" accept=".jpg, .png, .bmp" multiple>
                            </label>
                        </div>
                        <div class="registerInput">
                            <label for="cbu">N° de CBU/CVU (para deposito de reservas):
                                <input type="number" name="cbu" id="cbu" value="<%=aEditar[0].cbu %>">
                            </label>
                        </div>

                        <div class="confirm-button">
                            <button type="submit">Confirmar</button>
                        </div>
                </div>
                </form>
                </section>

                <%- include("../partials/ad-bottom-body") %>

            </main>

            <%- include("../partials/footer") %>

</body>

</html>