<!-- PAGINA EN DESARROLLO, no entregable aun -->


<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <link rel="stylesheet" href="/css/desktop-productCart.css" />

    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("../partials/header") %>
    <%- include("../partials/nav-bar") %>

      <main>
        <p class="title-cart">
          <%= professionals[0].professions[0].profession %>
          <% console.log(professionals) %> 
        </p>
        <% for(let i=0; i<professionals.length; i++){ %>
          <div class="top-flex-mobile">
            <a href="/rubros/<%= professionals[i].professions[0].profession %>/<%= professionals[i].client_id %>">
              <div class="div-avatar">
                <div class="prof-avatar">

                </div>
              </div>
              <div class="div-descrption">
                <div class="title-per-device-productCart">
                  <%= professionals[i].professions[0].profession %>:
                </div>
                <div class="name-per-device-productCart">"<%= professionals[i].clients.firstName +" "+ professionals[i].clients.lastName%>" </div>
            </a>
          </div>
          <div class="reserved-date">
            <p>
              <%=professionals[i].workDays[0].day %>
            </p>
            <p>
              <%=professionals[i].shifts[0].shift %>
            </p>
          </div>
          <div class="reserved-date">
            <p>
              <% if(professionals[i].emergency == 1){ %>
                <i class="fas fa-shipping-fast"></i>
                Urgencias
                <% } %>
            </p>
            <p> Zona:
              <%= professionals[i].workZones.location %>
            </p>
          </div>

          <div class="price-button-preview">
            <div class="price-preview">
              <p>
                <%=professionals[i].price %>
              </p>
            </div>
          </div>

          </div>
          <% } %>
            <div class="keepShopping-button">
              <a href="/rubros">
                <button type="submit">
                  Ver Mas Servicios
                </button>
              </a>
            </div>

            <%- include("../partials/ad-bottom-body") %>

      </main>

      <%- include("../partials/footer") %>

</body>

</html>