<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/tablet-productDetail.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <link rel="stylesheet" href="/css/desktop-productDetail.css" />
    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("../partials/header") %>
    <%- include("../partials/nav-bar") %>



      <main>
        <div class="allProduct">
          <div class="prof-title-father">
            <p class="title-per-device-productDetail">
              <%=professional.professions[0].profession %>

            </p>
            <p class="name-per-device-productDetail">
              <%= professional.clients.firstName + " " + professional.clients.lastName %>
                <%#=professional.professions[0].profession %>
            </p>
            <!--el nombre cambia segun el profesonial  -->
          </div>
          <div class="columns-productDetail-father">
            <div class="column12-productDetail">

              <div class="top-flex-mobile">
                <div class="prof-avatar">
                  <img src="/images/clients/<%=professional.clients.avatar%>">
                </div>

                <div class="rating-father">
                  <div class="rating-star">
                    <div class="empty-star rating">
                      <p>Resultado</p>
                      <p>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      </p>
                    </div>
                    <div class="full-star rating">
                      <p>Precio</p>
                      <p>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      </p>
                    </div>
                    <div class="half-star rating">
                      <p>Rapidez</p>
                      <p>
                      <i class="fas fa-star-half-alt"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      </p>
                    </div>
                  </div>
                  <p class="average-phrase">Promedio entre: n Opiniones</p>
                </div>
              </div>
              <div class="buttons-below-avatar">
                <div>
                  <p>Disponibilidad:</p>
                  <input type="date" id="date">
                </div>
                <button type="submit">
                  Agregar Servicio
                </button>
              </div>
            </div>
            <div class="column22-productDetail">
              <p class="title-prof-name">Detalles</p>

              <div class="details">
                <div class="details-description">
                <p>Zona:</p>
                <p><%=professional.workZones.location %>
                </p>
                </div>
                <div class="details-description">
                <p>Matricula:</p>
                <p><%if(professional.licence){%>
                    <%=professional.licence %> 
                <%}else{ %>
                  <%=" No Posee" %>
                    <% } %>
                </p>
                </div>
                <div class="details-description">
                <p>Atiende Emergencias:</p>
                <p> <% if(professional.emergency=="1" ){ %>
                    Si
                    <% }else{ %>
                      No
                      <% } %>
                </p>
                </div>
                <div class="details-description">
                <p>Precio de Reserva:</p>
                <p> $<%=professional.price %>
                </p>
                </div>
              </div>

            </div>

          </div>
          <div class=" prof-detail-text">
            <p class="prof-detail-title-text">Razones por cuales elegirme:</p>
            <p class="prof-txt">
              <%=professional.whyMe %>
            </p>
          </div>
          <div class="prof-detail-text workImages">
            <p class="prof-detail-title-text">Fotos de mis Trabajos Realizados:</p>
            <img src="/images/professionals/<%= professional.workImages.imageTitle %>" alt="aca va tu foto">
          </div>
          <% if(user!=undefined){ %>
            <p> %> </p>

            <% if(user.id==professional.client_id){ %>
              <div class="buttons-below-avatar">
                <div>
                  <a href="/rubros/rubro/<%=professional.client_id %>/editProf">
                    <button type="submit">Editar Perfil</button>
                  </a>
                </div>
                <form id="delete-form" class="delete-form"
                  action="/rubros/<%=professional.professions[0].profession %>/<%=professional.client_id %>/deleteProf?_method=DELETE"
                  method="post">
                  <!-- /rubros/Pileteria/243/delete -->
                  <button type="submit">Eliminar Perfil</button>

                </form>
              </div>
              <%} %>
                <%} %>

                  <h3 class=" title-categories">Tambien te Puede Interesar</h3>
                  
                  <section class="icon-categories">
                    <article class="icon-article">
                      <!-- meter if en los links para /rubros/plomero o /dentista -->
                      <a href="../Mecanica">
                        <!-- mecanica auto 1-->
                        <i class="fas fa-wrench"></i>
                        <p class="icon-txt">Mecanicos/as</p>
                      </a>
                    </article>
                    <article class="icon-article">
                      <a href="../Electricidad">
                        <!-- electricista 2-->
                        <i class="fas fa-plug"></i>
                        <p class="icon-txt">Electricistas</p>
                      </a>
                    </article>
                    <article class="icon-article">
                      <a href="../Odontologia">
                        <!-- dentistas 3-->
                        <i class="fas fa-tooth"></i>
                        <p class="icon-txt">Odontologos/as</p>
                      </a>
                    </article>

                    <article class="icon-article">
                      <a href="../Plomeria">
                        <!-- plomeria 4-->
                        <i class="fas fa-faucet"></i>
                        <p class="icon-txt">Plomeros/as</p>
                      </a>
                    </article>

                    <article class="icon-article">
                      <a href="../Carpinteria">
                        <!-- carpinteria 5-->
                        <i class="fas fa-hammer"></i>
                        <p class="icon-txt">Carpinteros/as/
                          <p>
                      </a>
                    </article>
                    <article class="icon-article">
                      <a href="../Pintura">
                        <!-- pintores 6-->
                        <i class="fas fa-paint-roller"></i>
                        <p class="icon-txt">Pintores/as</p>
                      </a>
                    </article>
                  </section>

                  <%- include("../partials/ad-bottom-body") %>

        </div>
      </main>

      <%- include("../partials/footer") %>

</body>

</html>