<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <link rel="stylesheet" href="/css/registerProf.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("../partials/header") %>
    <%- include("../partials/nav-bar") %>


      <main>
        <div class="all-registerProf">
          <form action="/rubros/registerProf" method="POST" enctype="multipart/form-data" class="prof-form">
           
           
            
           
           

           
            <div class="registerInput profesiones-list">
              <label>Profesiones:
                <!-- class="selectpicker" multiple -->
                <select name="professionId">

                  <% for (let i=0 ; i < uniqueProfession.length ; i++){%>

                    <option value="<%=uniqueProfessionId[i]%> " selected>
                      <%=uniqueProfession[i]%>
                    </option>


                    <% } %>
                      <option value="Otro">Otro</option>
                </select>
              </label>
            </div>
            <div class="registerInput">
              <label for="otherJob">Profesión (En Caso de No Estar Listada):
                <input type="text" name="otherJob" id="otherJob" placeholder="Ej: Programador WEB Full Stack">
              </label>
            </div>


            <div class="registerInput expirience-list">
              <label>Posee Matricula:
                <select name="expirience">
                  <option value="yes" selected>Si</option>
                  <option value="no">No</option>
                </select>
              </label>
            </div>
          
            <div class="registerInput">
              <label for="licence">Matricula (en Caso de Aplicar):
                <input type="text" name="licence" id="licence">
              </label>
            </div>
            <div class="registerInput localidad-list">
              <label>Zona de Prestacion de Servicio:
                <select name="workZone">
                  <!-- usar una API -->
                  <option value="1" selected>Capital Federal</option>
                  <option value="2">GBA Norte</option>
                  <option value="3">GBA Oeste</option>
                  <option value="4">GBA Sur</option>
                  <option value="5">Mendoza</option>
                  <option value="6">Cordoba</option>
                  <option value="7">Rosario</option>
                  <option value="8">Lejano Oeste</option>
               <!-- usar api -->
                </select>
              </label>
            </div>
            <div class="registerInput expirience-list">
              <label>Atiende Emergencias:
                <select name="emergency">
                  <option value="1" selected>Si</option>
                  <option value="0">No</option>
                </select>
              </label>
            </div>

            <div class="dispo-dias">
              <p>Dias de Prestacion de Servicio:</p>
              <p>Lunes<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Lunes-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Lunes-TT" selected>
                </option>
              </p>
              <p>Martes<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Martes-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Martes-TT" selected>
                </option>
              </p>
              <p>Miercoles<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Miercoles-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Miercoles-TT" selected>
                </option>
              </p>
              <p>Jueves<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Jueves-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Jueves-TT" selected>
                </option>
              </p>
              <p>Viernes<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Viernes-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Viernes-TT" selected>
                </option>
              </p>
              <p>Sabado<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Sabado-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Sabado-TT" selected>
                </option>
              </p>
              <p>Domingo<label>(9-12am)</label><input type="checkbox" name="jobDay" value="Domingo-TM" selected>
                </option>
                <label>(1pm-5pm)</label><input type="checkbox" name="jobDay" value="Domingo-TT" selected>
                </option>
              </p>

            </div>

            <div class="registerInput whyme">
              <label for="whyMe">Porque Deberian Elegirte?
                <textarea name="whyMe" id="whyMe" placeholder="Max 600 Caracteres"></textarea>
              </label>
            </div>
            <div class="registerInput">
              <label for="price">Precio de tu Reserva en $:
                <input type="number" name="price" id="price" placeholder="300" value="300">
              </label>
            </div>

            <div class="registerInput jobs">
              <label for="workImages">Fotos de Trabajos Realizados (max 10)
                <input type="file" name="workImages" accept=".jpg, .png, .bmp" multiple>
              </label>
            </div>
            <div class="registerInput">
              <label for="cbu">N° de CBU/CVU (para deposito de reservas):
                <input type="number" name="cbu" id="cbu">
              </label>
            </div>
           
           
            <div class="confirm-button">
              <button type="submit">Crear</button>
            </div>
        </div>
        </form>
        </div>
        </section>

        <%- include("../partials/ad-bottom-body") %>

      </main>

      <%- include("../partials/footer") %>

</body>

</html>