<section class="icon-categories">

    <% for (let i =0 ; i< 6; i++  ) { %> 

      <article class="icon-article">

        <a href="rubros/<%= professions[i].profession %>">

          <i class=" prueba fas <% if (professions[i].profession) {
            switch (professions[i].profession) {
              case 'Mecanica':%><%= 'fa-wrench' %><%
                break;
              case 'Electricidad':%><%= 'fa-plug' %><%
                break;
              case 'Odontologia':%><%= 'fa-tooth' %><%
                break;
              case 'Plomeria':%><%= 'fa-faucet' %><%
                break;
              case 'Carpinteria':%><%= 'fa-hammer' %><%
                break;
              case 'Pintura':%><%= 'fa-paint-roller' %><%
                break;
              case 'Abogacia':%><%= 'fa-gavel' %><%
                break;
              case 'Full Stack Web Developer':%><%= 'fa-laptop-code' %><%
                break;
              case 'Gas':%><%= 'fa-burn' %><%
                break;
              case 'Destapaciones':%><%= 'fa-sink' %><%
                break;
              case 'Catering':%><%= 'fa-utensils' %><%
                break;
              case 'Empapelacion':%><%= 'fa-scroll' %><%
                break;
              case 'Jardineria':%><%= 'fa-seedling' %><%
                break;
              case 'Contaduria':%><%= 'fa-search-dollar' %><%
                break;
              case 'Instalacion de AC':%><%= 'fa-wind' %><%
                break;
              case 'Mudanzas':%><%= 'fa-people-carry' %><%
                break;
              case 'Fumigacion':%><%= 'fa-bug' %><%
                break;
              case 'Cuidado de Menores':%><%= 'fa-baby' %><%
                break;
              case 'Clases Particulares':%><%= 'fa-chalkboard-teacher' %><%
                break;
              case 'Paseo Animal':%><%= 'fa-paw' %><%
                break;
              case 'Pileteria':%><%= 'fa-swimming-pool' %><%
                break;
              default:%><%= 'fa-cannabis' %><%
                break;
            } 
          } %> "></i>

          <p class="icon-txt"><%= professions[i].profession %></p>
        </a>
      </article>
    <% } %> 

  </section>