<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("../partials/header") %>
    <%- include("../partials/nav-bar") %>

      <main>
        <form action="/clients/registerClients" method="POST" enctype="multipart/form-data" class="clientForm"
          id="clientform">
          <div class="fe-errors form-errors">
            <ul></ul>
          </div>
          <div class="form-errors">
            <% if ( locals.errors !=undefined ) { %>
              <p>Uy, algo salio mal revisar (Lado Servidor):</p>
              <ul>
                <% for (let i=0; i < errors.length; i++) { %>
                  <li>
                    <%= errors[i].msg %>
                  </li>
                  <% } %>
              </ul>
              <% } %>
          </div>
          <div class="registerInput">
            <label for="firstName">Nombre:
              <input type="text" name="firstName" id="firstName" placeholder="Ej: Cosme" value=<%=locals.old ?
                old.firstName : null%> >
            </label>
          </div>
          <div class=" registerInput">
            <label for="lastName">Apellido:
              <input type="text" name="lastName" id="lastName" placeholder="Ej: Fulanito" value=<%=locals.old ?
                old.lastName : null%>>
            </label>
          </div>
          <div class="registerInput">
            <label for="email">Email:
              <input type="email" name="email" id="email" value=<%=locals.old ? old.email : null%>>
            </label>
          </div>
          <div class="registerInput">
            <label for="mobile">Telefono (Sin espacios ni Guiones):
              <input type="number" name="mobile" id="mobile" placeholder="Ej: 01112345678" value=<%=locals.old ?
                old.mobile : null%>>
            </label>
          </div>
          <div class="registerInput localidad-list">
            <label>Localidad donde Reside
              <select name="city_Id" id="city_Id">
                <!-- usar una API -->
                <option value="1" <%=locals.city_Id=="1" ? "selected" : "" %>>Capital Federal</option>
                <option value="2" <%=locals.city_Id=="2" ? "selected" : "" %>>Conurbano</option>
                <option value="3" <%=locals.city_Id=="3" ? "selected" : "" %>>Interior</option>
              </select>
            </label>
          </div>
          <div class="registerInput">
            <label for="address">Direcci칩n:
              <input type="text" name="address" id="address" placeholder="Calle falsa 123 2A" value=<%=locals.old ?
                old.address : null%>>
            </label>
          </div>
          <div class="registerInput">
            <label for="dni">DNI (Revisar ya q no se puede cambiar):
              <input type="number" name="dni" id="dni" placeholder="Documento Nacional de Identidad" value=<%=locals.old
                ? old.dni : null%>>
            </label>
          </div>
          <div class="registerInput avatar">
            <label for="avatar">Foto de Perfil (.jpg, .png, .jepg 칩 .gif)
              <input type="file" name="avatar" accept=".jpg, .png, .jepg, .gif">
            </label>
          </div>
          <div class="registerInput localidad-list">
            <label>Perfil Usuario
              <select name="role" id="role">
                <option value="Client" selected>Cliente</option>
                <option value="Professional">Profesional</option>
              </select>
            </label>
          </div>
          <div class="registerInput">
            <label for="password">Contrase침a:
              <input type="password" name="password" id="password">
            </label>
          </div>
          <div class="registerInput">
            <label for="passwordConfirm">Confirmar Contrase침a:
              <input type="password" name="password2" id="password2">
            </label>
          </div>
          <div class="confirm-button">
            <button type="submit">Enviar</button>
          </div>
        </form>
        </section>

        <%- include("../partials/ad-bottom-body") %>

      </main>

      <%- include("../partials/footer") %>

        <script src="/js/clientValidator.js"></script>

</body>

</html>