<!-- pag Home -->
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- etiquetas meta e iconos y font -->

  <%- include("partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />

    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("partials/header") %>
    <%- include("partials/nav-bar") %>

      <main>
        <div class="all-index">

          <div>
            <p class="title-per-device">La solución que buscas, con el profesionalismo que necesitas</p>
            <!-- modificar tamaño per device -->
          </div>
          <section class="services-carousel">
            <p>Lugar para imagenes de servicios en carousel</p>
          </section>
          <div class="dot-carousel">
            <p><i class="fas fa-ellipsis-h"></i></p>
          </div>
          <div class="work-with-us-button">
            <!-- href URL (no ruta de carpeta) -->
            <a href="/rubros/registerProf"><button type="submit">Sumáte a Nuestro Equipo de
                Profesionales</button></a>
          </div>
          <h3 class="title-categories">Categorias mas Solicitadas</h3>
          <%- include("partials/categories-examples") %>


            <%- include("partials/ad-bottom-body") %>

        </div>
      </main>

      <!-- footer -->
      <%- include("partials/footer") %>
</body>

</html>