<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <link rel="stylesheet" href="/css/desktop-productCart.css" />

    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("partials/header") %>
    <%- include("partials/nav-bar") %>

      <main>
        <p class="title-cart">Reservas por Confirmar</p>
        <!-- <i class="fas fa-trash-alt"></i> -->
        <div class="top-flex-mobile">
          <div class="div-avatar">
            <div class="prof-avatar">
              <!-- Foto cargada por el prof (.jpg, .png, .bmp) -->
            </div>
          </div>
          <div class="div-descrption">
            <div class="title-per-device-productCart">Odontologo:</div>
            <div class="name-per-device-productCart">"Mario Corona"</div>
            <!--el nombre cambia segun el profesonial  -->
          </div>
          <div class="reserved-date">
            <p>05/08/21</p>
            <p>T. Ma単ana</p>
          </div>
          <div class="price-button-preview">
            <div class="price-preview">
              <p>$100.00</p>
            </div>
            <div class="trash-button">
              <button type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="top-flex-mobile">
          <div class="div-avatar">
            <div class="prof-avatar">
              <!-- Foto cargada por el prof (.jpg, .png, .bmp) -->
            </div>
          </div>
          <div class="div-descrption">
            <div class="title-per-device-productCart">Odontologo:</div>
            <div class="name-per-device-productCart">"Mario Corona"</div>
            <!--el nombre cambia segun el profesonial  -->
          </div>
          <div class="reserved-date">
            <p>05/08/21</p>
            <p>T. Ma単ana</p>
          </div>
          <div class="price-button-preview">
            <div class="price-preview">
              <p>$100.00</p>
            </div>
            <div class="trash-button">
              <button type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="top-flex-mobile">
          <div class="div-avatar">
            <div class="prof-avatar">
              <!-- Foto cargada por el prof (.jpg, .png, .bmp) -->
            </div>
          </div>
          <div class="div-descrption">
            <div class="title-per-device-productCart">Odontologo:</div>
            <div class="name-per-device-productCart">"Mario Corona"</div>
            <!--el nombre cambia segun el profesonial  -->
          </div>
          <div class="reserved-date">
            <p>05/08/21</p>
            <p>T. Ma単ana</p>
          </div>
          <div class="price-button-preview">
            <div class="price-preview">
              <p>$100.00</p>
            </div>
            <div class="trash-button">
              <button type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="top-flex-mobile">
          <div class="div-avatar">
            <div class="prof-avatar">
              <!-- Foto cargada por el prof (.jpg, .png, .bmp) -->
            </div>
          </div>
          <div class="div-descrption">
            <div class="title-per-device-productCart">Odontologo:</div>
            <div class="name-per-device-productCart">"Mario Corona"</div>
            <!--el nombre cambia segun el profesonial  -->
          </div>
          <div class="reserved-date">
            <p>05/08/21</p>
            <p>T. Ma単ana</p>
          </div>
          <div class="price-button-preview">
            <div class="price-preview">
              <p>$100.00</p>
            </div>
            <div class="trash-button">
              <button type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="keepShopping-button">
          <a href="/">
            <button type="submit">
              Agregar Mas Servicios
            </button>
          </a>
        </div>
        <div class="confirm-button">
          <button type="submit">
            CONFIRMAR
          </button>
        </div>

        <%- include("partials/ad-bottom-body") %>

      </main>

      <%- include("partials/footer") %>

</body>

</html>