<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <link rel="stylesheet" href="/css/rubros.css" />

    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("partials/header") %>
    <%- include("partials/nav-bar") %>

      <main>

        <p class="title-rubros">Todos Nuestros Profesionales de:</p>
        <div class="all-index">
          <section class="icon-categories">

            <% for (let i =0 ; i< professions.length; i++  ) { %> 
              <div class="icon-article-wrapper">
                <a href="rubros/<%= professions[i].profession %>">
                  <article class="icon-article">

    
                    <i class=" prueba fas <% if (professions[i].profession) {
                      switch (professions[i].profession) {
                        case 'Mecanica':%><%= 'fa-wrench' %><%
                          break;
                        case 'Electricidad':%><%= 'fa-plug' %><%
                          break;
                        case 'Odontologia':%><%= 'fa-tooth' %><%
                          break;
                        case 'Plomeria':%><%= 'fa-faucet' %><%
                          break;
                        case 'Carpinteria':%><%= 'fa-hammer' %><%
                          break;
                        case 'Pintura':%><%= 'fa-paint-roller' %><%
                          break;
                        case 'Abogacia':%><%= 'fa-gavel' %><%
                          break;
                        case 'Full Stack Web Developer':%><%= 'fa-laptop-code' %><%
                          break;
                        case 'Gas':%><%= 'fa-burn' %><%
                          break;
                        case 'Destapaciones':%><%= 'fa-sink' %><%
                          break;
                        case 'Catering':%><%= 'fa-utensils' %><%
                          break;
                        case 'Empapelacion':%><%= 'fa-scroll' %><%
                          break;
                        case 'Jardineria':%><%= 'fa-seedling' %><%
                          break;
                        case 'Contaduria':%><%= 'fa-search-dollar' %><%
                          break;
                        case 'Instalacion de AC':%><%= 'fa-wind' %><%
                          break;
                        case 'Mudanzas':%><%= 'fa-people-carry' %><%
                          break;
                        case 'Fumigacion':%><%= 'fa-bug' %><%
                          break;
                        case 'Cuidado de Menores':%><%= 'fa-baby' %><%
                          break;
                        case 'Clases Particulares':%><%= 'fa-chalkboard-teacher' %><%
                          break;
                        case 'Paseo Animal':%><%= 'fa-paw' %><%
                          break;
                        case 'Pileteria':%><%= 'fa-swimming-pool' %><%
                          break;
                        default:%><%= 'fa-cannabis' %><%
                          break;
                      } 
                    } %> "></i>
  
                    <p class="icon-txt"><%= professions[i].profession %></p>
                  </article>
                </a>
              </div>
            <% } %> 

          </section>
        </div>

        <%- include("partials/ad-bottom-body") %>

      </main>

      <%- include("partials/footer") %>

</body>

</html>