<!-- PAGINA EN DESARROLLO, no entregable aun -->


<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/head-no-css") %>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- <link rel="stylesheet" href="/css/productDetail.css" /> -->
    <link rel="stylesheet" href="/css/desktop-productDetail.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/tablet-index.css" />
    <link rel="stylesheet" href="/css/desktop-index.css" />
    <link rel="stylesheet" href="/css/desktop-productCart.css" />

    <title>Soluciones Profesionales</title>
</head>

<body>

  <%- include("../partials/header") %>
    <%- include("../partials/nav-bar") %>

      <main>
        <p class="title-cart">
          <%= profRequested %>
        </p>
        <% for(let i=0; i<professionals.length; i++){ %>
          <div class="card-wrapper">
            <a href="/rubros/<%= professionals[i].professions[0].profession %>/<%= professionals[i].client_id %>">
              <div class="top-flex-mobile">
                <div class="tfm-upper">
                  <div class="div-avatar">
                    <img class="prof-avatar" src="/images/clients/<%= professionals[i].clients.avatar%> ">
                  </div>


                  <div class="div-descrption">
                    <div class="title-per-device-productCart">
                      <%= professionals[i].professions[0].profession %>:
                    </div>
                    <div class="name-per-device-productCart">
                      <%= professionals[i].clients.firstName +" "+ professionals[i].clients.lastName%>
                    </div>
                  </div>
            </div>  
            
              <div class=" reserved-date">


                    </div>
                    <div class="tfm-lower">
                      <div class="reserved-date">
                        <% if(professionals[i].emergency==1){ %>
                          <i class="fas fa-shipping-fast"></i>
                          <p class="urgency">
                            Urgencias
                          </p>
                          <% } %>
                            <p> Zona:
                              <%= professionals[i].workZones.location %>
                            </p>
                            <p>
                              <%= availability[i].workDays.map((element)=> { return " " +element.day + " - " +
                                element.shift})%>
                            </p>
                      </div>

                      <div class="price-button-preview">

                        <p>$<%=professionals[i].price %>
                        </p>

                      </div>
                    </div>
                  </div>
            </a>
          </div>
          <% } %>
            <div class="keepShopping-button">
              <a href="/rubros">
                <button type="submit">
                  Ver Mas Servicios
                </button>
              </a>
            </div>

            <%- include("../partials/ad-bottom-body") %>

      </main>

      <%- include("../partials/footer") %>

</body>

</html>