<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head-no-css") %>

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link rel="stylesheet" href="/css/tablet-productDetail.css" />
        <link rel="stylesheet" href="/css/tablet.css" />
        <link rel="stylesheet" href="/css/desktop-index.css" />
        <link rel="stylesheet" href="/css/desktop-productDetail.css" />
        <title>Soluciones Profesionales</title>
</head>

<body>

    <%- include("../partials/header") %>
        <%- include("../partials/nav-bar") %>


            <main>
                <div class="allProduct">
                    <div class="prof-title-father">
                        <p class="title-per-device-productDetail">
                        <h2>Perfil de:</h2>

                        </p>
                        <p class="name-per-device-productDetail">
                            <%= clientsObject[0].firstName + " " + clientsObject[0].lastName %>
                        </p>
                        <!--el nombre cambia segun el profesonial  -->
                    </div>
                    <div class="columns-productDetail-father">
                        <div class="column12-productDetail">

                            <div class="top-flex-mobile">
                                <div class="prof-avatar">
                                    <!-- Foto cargada por el cliente (.jpg, .png, .bmp) -->
                                </div>

                            </div>
                        </div>
                        <div class="column22-productDetail">
                            <p class="title-prof-name">Mis Datos</p>

                            <div class=" details">
                                <div>
                                    <p>Email: <%=clientsObject[0].email %>
                                    </p>
                                    <p>DNI: <%=clientsObject[0].dni%>
                                    </p>
                                    <p>Ciudad: <%=clientsObject[0].city%>
                                    </p>
                                    <p>Direccion: <%=clientsObject[0].adress %>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="buttons-below-avatar">
                        <div>
                            <a href="/clients/<%=clientsObject[0].dni %>/editClients">
                                <button type="submit" style="width: 25vw;">Editar Perfil</button>
                            </a>
                        </div>
                        <a href="/clients/<%= clientsObject[0].dni %>/deleteClients">
                            <button type="submit" style="width: 25vw;">Eliminar Perfil</button>
                        </a>
                    </div>

                    <h3 class=" title-categories">Tambien te Puede Interesar</h3>
                    <section class="icon-categories">
                        <article class="icon-article">
                            <!-- meter if en los links para /rubros/plomero o /dentista -->
                            <a href="../Mecanico">
                                <!-- mecanica auto 1-->
                                <i class="fas fa-wrench"></i>
                                <p class="icon-txt">Mecanicos/as</p>
                            </a>
                        </article>
                        <article class="icon-article">
                            <a href="../Electricista">
                                <!-- electricista 2-->
                                <i class="fas fa-plug"></i>
                                <p class="icon-txt">Electricistas</p>
                            </a>
                        </article>
                        <article class="icon-article">
                            <a href="../Odontologo">
                                <!-- dentistas 3-->
                                <i class="fas fa-tooth"></i>
                                <p class="icon-txt">Odontologos/as</p>
                            </a>
                        </article>

                        <article class="icon-article">
                            <a href="../Plomero">
                                <!-- plomeria 4-->
                                <i class="fas fa-faucet"></i>
                                <p class="icon-txt">Plomeros/as</p>
                            </a>
                        </article>

                        <article class="icon-article">
                            <a href="../Carpintero">
                                <!-- carpinteria 5-->
                                <i class="fas fa-hammer"></i>
                                <p class="icon-txt">Carpinteros/as/
                                    <p>
                            </a>
                        </article>
                        <article class="icon-article">
                            <a href="../Pintor">
                                <!-- pintores 6-->
                                <i class="fas fa-paint-roller"></i>
                                <p class="icon-txt">Pintores/as</p>
                            </a>
                        </article>
                    </section>

                    <%- include("../partials/ad-bottom-body") %>

                </div>
            </main>

            <%- include("../partials/footer") %>

</body>

</html>