<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head-no-css") %>

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/register.css" />
        <link rel="stylesheet" href="/css/tablet-index.css" />
        <link rel="stylesheet" href="/css/tablet.css" />
        <link rel="stylesheet" href="/css/desktop-index.css" />
        <title>Soluciones Profesionales</title>
</head>

<body>

    <%- include("../partials/header") %>
        <%- include("../partials/nav-bar") %>

            <main>
                <form action="/clients/<%=clientFound.dni%>?_method=PUT" method="POST" enctype="multipart/form-data" class="clientForm">

                    <div class="registerInput">
                        <label for="firstName">Nombre:
                            <input type="text" name="firstName" id="firstNombre" placeholder="Ej: Cosme"
                                value="<%=clientFound.firstName %>">
                        </label>
                    </div>
                    <div class="registerInput">
                        <label for="lastName">Apellido:
                            <input type="text" name="lastName" id="lastName" placeholder="Ej: Fulanito"
                                value="<%=clientFound.lastName%>">
                        </label>
                    </div>
                    <div class="registerInput">
                        <label for="email">Email:
                            <input type="email" name="email" id="email" value="<%=clientFound.email%>">
                        </label>
                    </div>
                    <div class="registerInput">
                        <label for="mobile">Telefono (Sin espacios ni Guiones):
                            <input type="number" name="mobile" id="mobile" placeholder="Ej: 01112345678"
                                value="<%=clientFound.mobile%>">
                        </label>
                    </div>
                    <div class="registerInput localidad-list">
                        <label>Localidad donde Reside
                            <select name="city_Id">
                                <!-- usar una API -->
                                <option value="1" <%=(clientFound.city_Id=="1" ) ? "selected" : "" %>>Capital Federal
                                </option>
                                <option value="2" <%=(clientFound.city_Id=="2" ) ? "selected" : "" %>>Conurbano</option>
                                <option value="3" <%=(clientFound.city_Id=="3" ) ? "selected" : "" %>>Interior</option>
                            </select>
                        </label>
                    </div>
                    <div class="registerInput">
                        <label for="address">Dirección:
                            <input type="text" name="address" id="address" placeholder="Calle falsa 123 2A"
                                value="<%=clientFound.address%>">
                        </label>
                    </div>
                    
                    <div class="registerInput avatar">
                        <label for="avatar">Foto de Perfil
                            <input src="images/clients/<%=clientFound.avatar%>" type="file" name="avatar"
                                accept=".jpg, .png, .bmp" value="<%=clientFound.avatar%>">
                        </label>
                    </div>

                    <div class="confirm-button">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
                </section>

                <%- include("../partials/ad-bottom-body") %>

            </main>

            <%- include("../partials/footer") %>

</body>

</html>